$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$nav-item-border: hsl(0, 0%, 60%, 0.3);
$light-dark: hsl(0, 0%, 48%, 0.15);
$background-opaque: hsl(0, 0%, 1%, 0.5);
